:root {
  --shadowPop: inset 1px 1px 1px rgb(197, 193, 193),
    6px 6px 6px rgba(0, 0, 0, 0.4), -2px -2px 9px rgba(255, 255, 255, 0.877),
    inset -1px -1px 2px rgba(0, 0, 0, 0.9);
  --shadowDent: inset 6px 6px 9px rgba(0, 0, 0, 0.4), inset -6px -6px 9px white;
}
* {
  box-sizing: border-box;
  background-color: #e9e9e9;
  font-size: 20px;
}
body {
  display: flex;
  margin: 0;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.container {
  box-shadow: var(--shadowPop);
  padding: 2rem;
  border-radius: 30px;
}
input,
button {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input {
  grid-column: 1/5;
  grid-row: 1/2;
  box-shadow: var(--shadowDent);
  width: 320px;
  height: 60px;
  padding: 16px 32px;
  text-align: right;
  border: none;
  border-radius: 30px;
  text-shadow: -2px -2px 2px white, 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.key-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
  margin-top: 20px;
}

button {
  box-shadow: var(--shadowPop);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #e9e9e9;
}
button:hover {
  background-color: rgba(204, 204, 204, 0.616);
}
button:active {
  box-shadow: var(--shadowDent);
}
.keys {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.op {
  color: tomato;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.equal {
  background-color: #55e6e7;
}
.delBtn {
  background-color: #ebd27a;
  box-shadow: var(--shadowPop);
}
.clear {
  background-color: #b33e3f;
  color: black;
}

.key.active {
  animation: buttonClick 0.5s ease;
}

@keyframes buttonClick {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
